body{
  background: black;
  color: grey;
}

.filterMenu{
  display: flex;
  background: darkblue;
  width: max-content;
}

.menuComponent{
  margin: 5px;
  padding: 2px;
  background: #490909;
}

.menuComponent:hover{
  color: purple;
  transform: scale(1.2);
  transition: 250ms;
}

.active{
  color: green;
}

.removed{
  color: #490909;
}